.bx-rotate-90
{
    transform: rotate(90deg);
}
.bx-rotate-180
{
    transform: rotate(180deg);
}
.bx-rotate-45
{
    transform: rotate(45deg);
}
.bx-rotate-135
{
    transform: rotate(135deg);
}
.bx-rotate-180
{
    transform: rotate(180deg);
}
.bx-rotate-225
{
    transform: rotate(225deg);
}
.bx-rotate-315
{
    transform: rotate(315deg);

}
.bx-rotate-270
{
    transform: rotate(270deg);

}
.bx-flip-horizontal
{
    transform: scaleX(-1);

}
.bx-flip-vertical
{
    transform: scaleY(-1);

}
.bx-xs
{
    font-size: 1rem!important;
}
.bx-sm
{
    font-size: 1.55rem!important;
}
.bx-md
{
    font-size: 2.25rem!important;
}
.bx-lg
{
    font-size: 3.0rem!important;
}
.bx-xl
{
    font-size: 4rem!important;
}
.bx-2xl
{
    font-size: 5rem!important;
}
.bx-3xl
{
    font-size: 6rem!important;
}
.bx-4xl
{
    font-size: 7rem!important;
}
.bx-5xl
{
    font-size: 8rem!important;
}
.bx-fw
{
    font-size: 1.2857142857em;
    line-height: .8em;

    width: 1.2857142857em;
    height: .8em;
    margin-top: -.2em!important;

    vertical-align: middle;
}
.bx-pull-left
{
    float: left;

    margin-right: .3em!important;
}
.bx-pull-right
{
    float: right;

    margin-left: .3em!important;
}

.bx-border
{
    padding: .25em;

    border: .07em solid currentColor;
    border-radius: .25em;
}
.bx-border-squircle
{
    padding: .25em;

    border: .07em solid currentColor;
    border-radius: 50%;
    corner-shape: squircle;
}
.bx-border-circle
{
    padding: .25em;

    border: .07em solid currentColor;
    border-radius: 50%;
}
.bx-ul
{
    margin-left: 2em;
    padding-left: 0;

    list-style: none;
}
.bx-ul > li
{
    position: relative;
}

.bx-ul .bx,.bx-ul .bxr,.bx-ul .bxs
{
    font-size: inherit;
    line-height: inherit;

    position: absolute;
    left: -2em;

    width: 2em;

    text-align: center;
}
